@font-face {
    font-family: 'Graphik LCG', sans-serif;
    src: url('GraphikLCG-Semibold.eot');
    src: url('GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
         url('GraphikLCG-Semibold.woff2') format('woff2'),
         url('GraphikLCG-Semibold.woff') format('woff'),
         url('GraphikLCG-Semibold.ttf') format('truetype'),
         url('GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG', sans-serif;
    src: url('GraphikLCG-Regular.eot');
    src: url('GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
         url('GraphikLCG-Regular.woff2') format('woff2'),
         url('GraphikLCG-Regular.woff') format('woff'),
         url('GraphikLCG-Regular.ttf') format('truetype'),
         url('GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG', sans-serif;
}

.container {
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #CCCCCC;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__item {
    margin-right: 50px;
}

.navigation__link {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 20px;
}

.log {
    display: flex;
    align-items: stretch;
}

.log__button {
    text-decoration: none;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 36px;
    padding-right: 36px;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
}

.log__button_orange {
    text-decoration: none;
    color: #FFF;
    background-color: #FF6336;;
    border: 1px solid #FF6336;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 10px;
}

.offer {
    padding-top: 129px;
    padding-bottom: 172px;
    display: flex;
    justify-content: space-between;
}

.offer_text-part {
    max-width: 530px;
}

.offer__title {
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 51px;
}

.offer__text {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 51px;
}

.offer__buttons {
    display: flex; 
    align-items: stretch; 
}

.offer__button {
    text-decoration: none;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 29px;
    padding-right: 29px;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.offer__button_orange {
    text-decoration: none;
    color: #FFF;
    background-color: #FF6336;;
    border: 1px solid #FF6336;
    padding-left: 42px;
    padding-right: 42px;
    margin-right: 10px;
}

.offer__text_small {
    font-size: 15px;
    line-height: 25px;
}

.partners {
    background-color: #FF9C7D;
    padding-top: 108px;
    padding-bottom: 104px;
}

.partners__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
    max-width: 720px;
}

.partners__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__item {
    margin-right: 103px;
}

.partners__item:last-child {
    margin-right: 0;
}

.directions {
    padding-top: 90px;
    padding-bottom: 150px;
}

.directions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.directions__item {
    margin-top: 250px;
}

.directions__item:nth-of-type(-n+2) {
    margin-top: 0px;
}

.directions__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    max-width: 520px;
    margin-bottom: 30px;
}

.directions__text {
    font-size: 20px;
    line-height: 30px;
    max-width: 520px;
    margin-bottom: 30px;
}

.directions__text-link {
    color: #000;
}

.directions__link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.localize {
    background-color: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 147px;
}

.localize__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-bottom: 79px;
}

.localize__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.localize__item {
    max-width: 300px;
    margin-top: 75px;
    text-align: center;
    margin-right: 130px;
}

.localize__item:nth-of-type(-n+3) {
    margin-top: 0px;
}

.localize__item:nth-of-type(3n) {
    margin-right: 0px;
}

.localize__img {
    margin-bottom: 23px;
}

.localize__subtitle {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 23px;
}

.localize__text {
    font-size: 18px;
    line-height: 25px;
    align-content: center;
}

.teams {
    padding-top: 154px;
    padding-bottom: 187px;
}

.teams__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 75px;
    text-align: center;
}

.teams__list {
    display: flex;
}

.teams__item {
    margin-right: 30px;
}

.teams__item:nth-of-type(3n) {
    margin-right: 0px;
}

.teams__img {
    margin-bottom: 49px;
    height: 201px;
}

.teams__subtitle {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 34px;
}

.teams__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}

.teams__link {
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

.revolut {
    padding-top: 53px;
    padding-bottom: 105px;
    background-color: #C9E8F2;
}

.revolut__wrap {
    display: flex;
    justify-content: space-between;
}

.revolut_text-part {
    max-width: 895px;
}

.revolut__quote {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;
}

.revolut__text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 7px;
}

.rating {
    padding-top: 80px;
    padding-bottom: 84px;
    background-color: #DABC98;
}

.rating__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rating_left-part {
    display: flex;
    align-items: center;
}

.rating__title {
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    margin-left: 67px;
    margin-right: 124px;
    max-width: 460px;
}

.rating__mark-img {
    padding-left: 70px;
}

.rating__mark-img:first-child {
    border-left: 1px solid #000;
}

.tools {
    padding-top: 165px;
    padding-bottom: 162px;
}

.tools__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tools__title {
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    max-width: 800px;
}

.tools__subtitle {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
    max-width: 550px;
}

.tools__img {
    margin-bottom: 32px;
}

.tools__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background-color: #FF6336;
    padding-left: 20px;
    padding-right: 20px;
}

.try-it {
    padding-top: 119px;
    padding-bottom: 161px;
    background-color: #FF9C7D;
}

.try-it__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.try-it__title {
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    margin-bottom: 29px;
    max-width: 800px;
}

.try-it_subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 54px;
}

.try-it__button {
    font-size: 17px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;    
    text-decoration: none;
    color: #FFF;
    background-color: #000;
    padding-left: 40px;
    padding-right: 40px;
}

.footer {
    background-color: #EEE;
}

.footer__wrap {
    display: flex;
    padding-top: 97px;
    padding-bottom: 95px;
}

.studies {
    display: flex;
    flex-direction: column;
    margin-right: 140px;
}

.studies__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 28px;
}

.studies__img {
    max-width: 300px;
    margin-bottom: 31px;
}

.studies__logo {
    max-width: 80px;
    margin-bottom: 11px;
}

.studies__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    max-width: 300px;
}

.studies__link {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #000;
    text-decoration: none;
}

.footer-nav__list {
    display: flex;
}

.footer-nav__item {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-right: 30px;
}

.footer-nav__sublist {
    width: 190px;
    margin-top: 21px;
}

.footer-nav__link {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    margin-bottom: 15px;
}

.copyright {
    border-top: 1px solid #000;
    padding-top: 47px;
    padding-bottom: 43px;
    display: flex;
    justify-content: space-between;
}

.copyright_left-part {
    display: flex;
}

.copyright__logo {
    margin-right: 14px;
    height: 21px;
}

.copyright__text {
    font-size: 12px;
    line-height: 15px;
    max-width: 300px;
    margin-right: 75px;
}