@font-face {
    font-family: 'Graphik LCG', sans-serif;
    src: url('GraphikLCG-Semibold.eot');
    src: url('GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
         url('GraphikLCG-Semibold.woff2') format('woff2'),
         url('GraphikLCG-Semibold.woff') format('woff'),
         url('GraphikLCG-Semibold.ttf') format('truetype'),
         url('GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG', sans-serif;
    src: url('GraphikLCG-Regular.eot');
    src: url('GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
         url('GraphikLCG-Regular.woff2') format('woff2'),
         url('GraphikLCG-Regular.woff') format('woff'),
         url('GraphikLCG-Regular.ttf') format('truetype'),
         url('GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG', sans-serif;
}

.container {
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #CCCCCC;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__item {
    margin-right: 50px;
}

.navigation__link {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 20px;
}

.log {
    display: flex;
    align-items: stretch;
}

.log__button {
    text-decoration: none;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 36px;
    padding-right: 36px;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
}

.log__button_orange {
    text-decoration: none;
    color: #FFF;
    background-color: #FF6336;;
    border: 1px solid #FF6336;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 10px;
}

.offer {
    padding-top: 129px;
    padding-bottom: 172px;
    display: flex;
    justify-content: space-between;
}

.offer_text-part {
    max-width: 530px;
}

.offer__title {
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 51px;
}

.offer__text {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 51px;
}

.offer__buttons {
    display: flex; 
    align-items: stretch; 
}

.offer__button {
    text-decoration: none;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 29px;
    padding-right: 29px;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.offer__button_orange {
    text-decoration: none;
    color: #FFF;
    background-color: #FF6336;;
    border: 1px solid #FF6336;
    padding-left: 42px;
    padding-right: 42px;
    margin-right: 10px;
}

.offer__text_small {
    font-size: 15px;
    line-height: 25px;
}